body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}
/* CSS Normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */
  input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #3a3a3a;
}
.home {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*---------------------
---     MainMenu   ----
-----------------------*/
.topLogo {
  background-color: #cccc00;
}
h2.ui.header.topHead {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}
.topHead.ui.header:first-child {
  margin: 1rem;
  color: #4c1e66;
}
.item {
  transition: 1s;
}
.ui.menu {
  margin-top: 0;
}
.ui.menu .item {
  color: #4c1e66;
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
  justify-content: center;
}
.ui.menu .active.item {
  background-color: #f7f7cd;
  font-weight: 600;
}
.ui.stackable.ui.container.menu {
  margin-bottom: 0;
}
/*---------------------
---  Category List ----
---------------------*/
.ui.container.header2 {
  padding: 10px 0;
  color: #cccc00;
  text-align: center;
}

.ui.list .list > .item a.header,
.ui.list > .item a.header {
  color: #3a3a3a;
}

.item.flex {
  display: flex;
}
.ui.list > .item .description {
  font-size: 1.3rem;
  color: #4c1e66;
  border-bottom: 1px solid #c59ddb;
}
.ui.list > .item .description:hover {
  font-size: 1.3rem;
  color: #a9a904;
  transition: 0.4s;
}
.highlited {
  background-color: #e6e667;
  border-radius: 3px;
  transition: 0.3s;
}
a.description {
  padding: 10px 15px;
}

/* -----------------------
-------  Grouped By -----
-------------------------*/

.headerGroup {
  margin-top: 0;
  color: #cccc00;
  text-decoration: underline;
}

h3.group {
  color: #9039c1;
}
.groupUl {
  padding-left: 0;
}
li.groupLi {
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #6f6f1c;
}
.groupUl {
  padding: 5px 10px;
  border: 1px dashed #c3c3c3;
}
/*---------------------
---  Footer         ----
---------------------*/
.footer {
  background-color: #4c1e66;
  color: #fff;
}
.copy {
  padding: 7px;
}
.buttonsFooter {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 15px 0;
}

/*----------------------
-----  Modal  ---------
----------------------*/

.ui.modal > .header:not(.ui) {
  color: #21ba45;
}
